<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <commerce_mcp>
            <general>
                <enabled>0</enabled>
                <max_request_bytes>1048576</max_request_bytes>
                <max_response_bytes>2097152</max_response_bytes>
                <allowed_store_codes>default</allowed_store_codes>
                <max_skus_per_request>20</max_skus_per_request>
                <max_gallery_images>10</max_gallery_images>
                <max_variants_per_product>50</max_variants_per_product>
                <variant_image_fallback_enabled>1</variant_image_fallback_enabled>
                <max_search_results>10</max_search_results>
                <max_related_products>6</max_related_products>
                <max_promotions>20</max_promotions>
                <public_coupon_codes/>
                <customer_assertion_lifetime_seconds>180</customer_assertion_lifetime_seconds>
                <customer_assertion_signing_key/>
                <rate_limit_per_minute>120</rate_limit_per_minute>
                <order_status_rate_limit_per_minute>20</order_status_rate_limit_per_minute>
                <tracking_url_templates/>
            </general>
        </commerce_mcp>
    </default>
</config>
